.grid__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grid__box-header {
  height: 100px;
  display: flex;
  justify-content: center;
}
.grid__box-header span {
  font-size: 50px;
  font-weight: 400;
}
.grid__box__columns {
  height: 1000px;
  padding: 0px 20px;
  background-color: #8189ff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
}
.grid__box__column {
  background-color: #ff8da4;
}
.big {
  width: 1440px;
}
.medium {
  width: 1320px;
}
.short {
  width: 1080px;
  padding: 0px 10px;
  gap: 20px;
}
