.wrapper-page {
  width: 1100px;
  height: 95vh;
}
.search {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.search input {
  width: 500px;
  padding: 20px;
  border-radius: 20px;
}
.page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.page__box {
  width: 300px;
  height: 300px;
  margin: 15px;
  border-radius: 20px;
  border: 1px solid gainsboro;
  background-color: teal;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.page__box:first-child {
  background-image: url("../img/grid.jpg");
}
.page__box:hover {
  width: 310px;
  height: 310px;
  font-size: 22px;
}
.page__box__contents {
  margin-bottom: 15px;
}
